"*":
  "exception-reporting":
    userId: "c93349e2-4b82-5b2d-3b83-24ec4c7dac5d"
  welcome:
    showOnStartup: false
  metrics:
    userId: "5f6858733c8d9652720bef31059c16c4e3e50248"
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  term2:
    openPanesInSameSplit: true
  core:
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    disabledPackages: [
      "tree-view"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    fontSize: 18
    scrollPastEnd: true
  react: {}
  emmet: {}
  jshint:
    supportLintingJsx: true
  "atom-beautify":
    _analyticsUserId: "5f38c1f9-e19b-473f-959f-d8138b6746a8"
    html_indent_inner_html: true
    html_end_with_newline: true
  iex:
    colors: {}
  tabs:
    showIcons: true
    usePreviewTabs: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    remoteProjectsConfig: []
  "linter-eslint":
    useGlobalEslint: true
  linter:
    showErrorPanel: false
